<section class="card">
    <div class="card-body">
        <h1>Unidad de Ciencias del Agua UCIA</h1>
        <hr class="my-4">
        <p>La Unidad de Ciencias del Agua se especializa en el desarrollo de investigación científica para generar
            conocimiento en el campo de la hidrogeología con énfasis en sistemas cársticos, la calidad y el uso
            sostenible del agua, y la ecología y dinámica de los ecosistemas acuáticos, con la finalidad de contribuir
            al aprovechamiento y manejo sostenible de los recursos hídricos, determinar la vulnerabilidad y conservación
            de los mantos acuíferos en la Península de Yucatán. La investigación que realiza la UCIA tiene énfasis en el
            estudio del agua subterránea y se apoya fuertemente en la formación de personas, mediante la Maestría en
            Ciencias del Agua; así como el desarrollo de tesis de licenciatura, y doctorado</p>
    </div>
</section>