<div class="jumbotron mt4">
    <h1 class="display-4">PreguntAgua</h1>
    <p class="lead">PreguntAgua es un juego didáctico orientado a la eduación con el tema del Agua.</p>
    <hr class="my-4">
    <p>El juego fue desarrollado para el uso de el Centro de investigación Científica de Yucatán (CICY), el cual es un
        Centro Público de Investigación del Sistema CONACYT enfocado a realizar investigación básica y aplicada en el
        área de biología, materiales y disciplinas afines; orientado hacia la solución de problemas nacionales,
        regionales y locales.
        
        Para conocer más, visita la página oficial</p>
    <a href="https://www.cicy.mx/unidad-de-ciencias-del-agua/introduccion" class="btn btn-primary">CICY</a>
</div>