<div class="jumbotron mt4">
    <h1 class="display-4">Notes App NodeJs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quo dicta aut quibusdam asperiores voluptatibus quos adipisci obcaecati laudantium cum ab quisquam eos quia omnis sequi earum exercitationem, facere ad!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab debitis, iusto illum eos accusantium error dignissimos cumque. Possimus, laborum tempore impedit perspiciatis, nisi quis delectus porro illum adipisci voluptate hic!</p>
    <a href="https://www.youtube.com" class="btn btn-primary">youtube</a>
</div>